@import "tailwindcss";

.textbox-input-wrapper {
  @apply w-auto relative;
}

.textbox-input-icon {
  @apply text-base absolute top-1/2 -translate-y-1/2 pointer-events-none;
}

.textbox-input-icon-left {
  @apply left-4;
}

.textbox-input-icon-right {
  @apply right-4;
}

.p-inputtext {
  @apply border border-[#e6e3ef] rounded-[10px] bg-white py-0 px-3 h-[38px] box-border;
}

.textbox-icon-container {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  pointer-events: none;
  z-index: 10;
}

.textbox-icon-container.icon-left {
  left: 1rem;
  right: auto;
}

.textbox-icon-container.icon-right {
  right: 1rem;
  left: auto;
}

.textbox-icon-container > i {
  font-size: 1.15rem;
  color: #1e293b;
  opacity: 1;
}
